.img-button
{
    position: relative;
    width: 50%;
}

.img-button .btn{
    position: absolute;
    left: 88%;
    top: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}